# rust compilation stuff
/target
# IDE / text editor specific files
/.vscode
/.idea
# assets like marker packs we use temporarily and other stuff we store at runtime
/assets
# the wasm build of crate
/dist